// $Id: spidermonkey.rc 14331 2011-05-12 21:07:48Z jz $

#ifdef _DEBUG
1                       TYPELIB MOVEABLE PURE   "debug\\scripting_engine_tlb.tlb"  // Bis Visual Studio 2008: "debug\\spidermonkey.tlb"
#else
1                       TYPELIB MOVEABLE PURE   "release\\scripting_engine_tlb.tlb"     // Bis Visual Studio 2008: "release\\spidermonkey.tlb"
#endif

#include "version.h"
#include "../kram/sosvers.rc"
