// hostolea.rc


#include "hostole.hrc"

#undef VER_FILENAME_STR

#if defined _WIN32
#    define VER_FILENAME_STR    "hostOLE.exe\0"
#else
#    define VER_FILENAME_STR    "hostOL16.exe\0"
#endif

//1 typelib hostole.tlb   // Geht für hostole.dll, aber nicht hier für hostolea ???
#if defined _DEBUG
    1 typelib q:\hostolea\debug\hostole.tlb
#else
    1 typelib q:\hostolea\release\hostole.tlb
#endif

#include <sosvers.rc>


