// $Id: spooler.rc,v 1.1 2001/01/13 18:41:19 jz Exp $

#ifdef _DEBUG
1                       TYPELIB MOVEABLE PURE   "debug\\spooler.tlb"
#else
1                       TYPELIB MOVEABLE PURE   "release\\spooler.tlb"
#endif

#include "spooler_version.h"
#include "../kram/sosvers.rc"