/*  $Id$ 

    STYLESHEET FÜR DEN SCHEDULER


    In der custom.css (im selben Verzeichnis) können Sie eigene Einstellungen vornehmen.
*/


body                    { font-family: Sans-Serif; font-size: 10pt; margin-top: 5pt; }
th                      { font-size: 10pt; }
td                      { font-size: 10pt; }
p                       { font-size: 10pt; margin-top: 2ex; margin-bottom: 0; padding-left: 3pt; }
label                   { font-size: 10pt; }
/*col                   { padding-bottom: 1pt; padding-left: 3pt; padding-right: 2pt }  /* wirkt nicht in Firefox */
td                      { padding-bottom: 1pt; padding-left: 3pt; padding-right: 2pt } 
caption                 { font-size: 10pt; padding-bottom: 5pt; padding-left: 3pt; padding-right: 2pt; padding-top: 2pt }


.small                  { font-size: 8pt }
.label                  { font-size: 8pt; white-space: nowrap }

/* Job-Description */
div.description         {}

th.head1, td.head1      { padding-right: 2pt; border-bottom: 1px solid black; }
th.head , td.head       { padding-right: 2pt; border-bottom: 1px solid black; border-left: 1px solid black; }

td.after_head_space     { margin-top: 0; margin-bottom: 0pt; line-height: 4pt; }


/* Allgemeiner Scheduler-Zustand */
.scheduler              { background-color: #F0F0F0 }

.job                    { font-size: 10pt; background-color: #00c8ff } /*#fff000*/
.job_hover              { font-size: 10pt; background-color: #80ecff }
.job_error              { color: darkred }

.task                   { font-size: 10pt; background-color: #90EE90 }  /*#FFFFA0*/
/*.task_hover             { font-size: 10pt; background-color: #90EE90; text-decoration: underline }*/
.task_hover             { font-size: 10pt; background-color: #C8F7C8 }
.task_error             { color: darkred }
                      
.order                  { font-size: 10pt; background-color: #ffffe0 }  /*#f0ffff*/
                        
.job_chain              { font-size: 10pt; background-color: #B0E0E6 }
.job_chain_hover        { font-size: 10pt; background-color: #D8F0F3 }

.process_class          { background-color: #F0F0F0 }

.remote_scheduler               { background-color: #ffffa0 }
.remote_scheduler_hover         { background-color: #ffffd0 }

/* Anklickbar */
.hover                  { text-decoration: underline }


/* Fürs Protokoll */
body.log                { margin-left: 0; padding-left: 0 }
pre.log                 { font-family: Lucida Console, monospace; font-size: 9pt; line-height: 1.1em; margin-left: 2px; padding-left: 0 }

.log_error              { color: Red; }
.log_warn               { color: tomato; }
.log_info               { color: black; }
.log_debug              { color: darkgreen; }
.log_debug2             { color: #408040; }
.log_debug3             { color: #808080; }
.log_debug4             { color: #8080FF; }
.log_debug5             { color: #8080FF; }
.log_debug6             { color: #8080FF; }
.log_debug7             { color: #8080FF; }
.log_debug8             { color: #8080FF; }
.log_debug9             { color: #a0a0a0; }

/* Für die Job-<description> */
body#job_description    { background-color: #80ecff }
