<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender class="org.apache.log4j.ConsoleAppender" name="console">
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d{ISO8601} %-5p [%t] %c: %m%n" name="ConversionPattern"/>
		</layout>
	</appender>

	<appender class="org.apache.log4j.ConsoleAppender" name="console_simple">
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%-5p %m%n" name="ConversionPattern"/>
		</layout>
	</appender>

	<appender name="errorlog" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="target/logs/errors.log"/>
		<param name="MaxFileSize" value="100KB"/>
		<!-- Keep one backup file -->
		<param name="MaxBackupIndex" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %t %c - %m%n"/>
		</layout>
	</appender>

	<logger name="org.apache.activemq">
		<level value="warn"/>
		<appender-ref ref="console"/>
	</logger>

	<logger name="org.apache.activemq.spring">
		<level value="warn"/>
		<appender-ref ref="console"/>
	</logger>

	<logger name="com.sos.scheduler.engine.plugins.event.stepevents.OrderStepEventsPlugin" additivity="false">
		<level value="info"/>
		<appender-ref ref="console"/>
	</logger>

	<logger name="com.sos.scheduler.engine.plugins.errorlogger" additivity="false">
		<level value="warn"/>
		<appender-ref ref="console_simple"/>
		<appender-ref ref="errorlog"/>
	</logger>

	<!--
	in general the debug level should be 'warn'. if you need 'debug' or
		'info'
		level
	for
		special
		cases please use a special logger defined above.
	-->
	<root>
		<level
		value="warn"/>
		<appender-ref ref="console"/>
	</root>

</log4j:configuration>
