/* $Id$ */

body            { font-size: 10pt; font-family: Arial, sans-serif; }
h1              { max-width: 472pt; font-size: 14pt; font-weight: bold; margin-top: 0em; margin-bottom: 2em;  }
h1.nonfirst     { max-width: 472pt; font-size: 14pt; font-weight: bold; margin-bottom: 2em; margin-top: 4em; }
h2              { max-width: 472pt; font-size: 12pt; font-weight: bold; margin-top: 3em; border-top: 1px solid #f0f0f0; padding-top: 3em; margin-bottom: 2em; }
h2.bar          { max-width: 472pt; font-size: 12pt; font-weight: bold; margin-top: 3em; border-top: 1px solid #f0f0f0; padding-top: 3em; width: 72ex; margin-bottom: 2em; }
h3              { max-width: 472pt; font-size: 10pt; font-weight: bold; margin-top: 3em; }
h3.bar          { max-width: 472pt; font-size: 10pt; font-weight: bold; margin-top: 3em; border-top: 1px solid #f0f0f0; padding-top: 2em; width: 72ex; }
h4              { max-width: 472pt; margin-bottom: 1em; }
.zwischentitel  { font-weight: bold; margin-top: 6ex }

div.table_of_content  { }
div.table_of_content h2 { font-size: 10pt; margin-bottom: 1em; }
div.table_of_content p { font-size: 9pt; }
p.table_of_content_h1 { margin-top: 0.5em;  }
p.table_of_content_h2 { margin-top: 0.5em;  }
p.table_of_content_h3 { margin-top: 0em; margin-left: 2ex; }
p.table_of_content_h4 { margin-top: 0em; margin-left: 4ex; }

hr              { height: 1px; font-size: 1px; border: 0px; color: gray; background-color: gray; }

.max_width      { max-width: 472pt; }
p.empty         { font-size: 10pt; margin-bottom: 0px; margin-top: 0ex; }    /* <p class="empty">&#160;</p> macht einen Abstand wie margin-top von <p> */
p               { font-size: 10pt; margin-bottom: 0px; max-width: 472pt; }
p.ini_entry     { font-size: 10pt; margin-bottom: 0px; max-width: 150ex; }
th              { font-size: 10pt; vertical-align: baseline; text-align: left; border-bottom: 1px solid black; font-weight: normal; }
td              { font-size: 10pt; vertical-align: baseline; }
div             { font-size: 10pt; }
/*p:first-child   { font-size: 10pt; margin-top: 0px; margin-bottom: 0px }   Wirkt in ie6 nicht */
ul              { margin-top: 0.5em; margin-left: 12pt; padding-left: 0pt; }
ul.big          { margin-top: 0em; margin-left: 12pt; padding-left: 0pt; }
li              { font-size: 10pt; max-width: 88ex; }
ul.big li       { font-size: 10pt; max-width: 88ex; margin-top: 1em; }
ol              { margin-left: 24pt; padding-left: 0pt; }
.example        { background-color: #ffffe8; }
pre             { background-color: #ffffe8; font-family: "Lucida Console", monospace; font-size: 9pt; 
                  padding-left: 0ex; margin-top: 1em; margin-bottom: 1em; line-height: 12pt; max-width: 472pt; }
pre i           { font-size: 8pt; font-family: Arial, Sans-Serif; line-height: 10pt; max-width: 472pt; }
code i          { font-size: 8pt; font-family: Arial, Sans-Serif; line-height: 10pt; }
col             { padding-bottom: 1pt; padding-right: 2pt }
caption         { font-size: 10pt; padding-bottom: 5pt; padding-left: 3pt; padding-right: 2pt; padding-top: 2pt }

dt              { margin-top: 2ex; }
dd              { margin-left: 4ex; max-width: 88ex; }

p.first         { margin-top: 0ex; }
p.mono          { font-family: "Lucida Console", monospace; font-size: 9pt; margin-left: 4ex }

.mono           { font-family: "Lucida Console", monospace; font-size: 9pt; line-height: 10pt; }
code            { font-family: "Lucida Console", monospace; font-size: 9pt; line-height: 10pt; }
.code           { font-family: "Lucida Console", monospace; font-size: 9pt; line-height: 10pt; }

.small          { font-size: 8pt; }
.comment        { background-color: #FFFF00 }
.message_insertion { font-family: Arial, sans-serif; font-size: 9pt; font-style: italic; }
/*.standard_in_code { font-family: Arial, sans-serif; }   Um in <code> wieder zurück zur normalen Schrift zu kommen */

a.nix           { text-decoration: none; color: inherit; background-color: inherit }
a.nix:link      { text-decoration: none; color: inherit; background-color: inherit }
a.nix:active    { text-decoration: none; color: inherit; background-color: inherit }
a.nix:visited   { text-decoration: none; color: inherit; background-color: inherit }
a.nix:hover     { text-decoration: none; color: inherit; background-color: inherit }
a.silent        { text-decoration: none; color: #0000A0 }

a               { text-decoration: none; color: inherit; background-color: inherit }
a:link          { color: #0000a0; cursor: pointer; }
a:active        { color: #0000a0; }
a:visited       { color: #0000a0; }  /*Das wird zu bunt: { color: #0000ff; }*/
a:hover         { background-color: #e0e0FF }


/*.list:first-line { margin-left: 0px; margin-top: 4ex; margin-bottom: 2pt }*/
.list               { margin-top: 4ex }
.list_text          { margin-left: 4ex; margin-top: 2pt }

/* geht nicht:
div.list            { margin-left: 4ex; }
div.list:first-line { margin-left: 0px; margin-top: 9ex; }
*/

span.title          { font-style: normal; }
span.type           { font-style: italic; }
.small              { font-size: 8pt; }

span.register_definition { color: blue; }

p.xml_element       { margin-top: 2ex; }
p.xml_attribute     { margin-top: 4ex; }
p.example           { margin-top: 4ex; font-weight: bold; }
p.command_option    { margin-top: 4ex; }
p.ini_section       { margin-top: 4ex; }
p.ini_entry         { margin-top: 2ex; border-top: 1px solid #f0f0f0; padding-top: 2ex; }
/*p.register_keyword  { margin-top: 0px; }*/
.sos_name           { font-variant: small-caps; }

.indent             { margin-left: 4ex; }

.see_also                       { background-color: #f8f8f8; }

.api_headline                   { margin-top: 0ex; font-size: 14pt; font-weight: bold; }

tr.api_method_clickable:active  { background-color: #0000A0; }
tr.api_method_clickable:visited { background-color: #0000A0 }
tr.api_method_clickable:hover   { background-color: #e0e0FF; cursor: pointer; }
tr.api_method_clickable_hover   { background-color: #e0e0FF; cursor: pointer; }
tr.api_method_clickable         { background-color: #f6f6FF; cursor: pointer; }
tr.api_method                   { background-color: #f6f6FF; }
.api_object_name                { font-size: 9pt; font-family: "Lucida Console", monospace; color: gray; }
/*
tr.api_method_clickable:active  { color: #0000A0; }
tr.api_method_clickable:visited { color: #0000A0 }
tr.api_method_clickable:hover   { background-color: #e0e0FF; cursor: pointer; }
tr.api_method_clickable_hover   { background-color: #e0e0FF; cursor: pointer; }
tr.api_method_clickable         { color: blue; }
tr.api_method                   { color: blue; }
.api_object_name                { font-size: 9pt; font-family: Lucida Console, monospace; color: #8080ff; }
*/

td.api_type                     { white-space: nowrap; }
td.api_method                   {}
td.api_access                   { padding-left: 3mm; white-space: nowrap; }
/*td.api_title                    { font-size: 8pt;  }*/
td.api_title                    { padding-left: 3mm; }


.api_programming_language_selector { margin-right: 2ex; }

.message                        { background-color: #f8f8f8; max-width: 472pt; }
.message_info                   {}
.message_warn                   { color: #800000; }
.message_error                  { color: red; }

.not_for_unix_perl              { font-style: italic; }

td.first_page                   { width: 90ex; }
div.box                         { margin-top: 1.5em; 
                                  background-color: #ffffe0; 
                                  padding-top: 0.75em; padding-left: 1em; padding-right: 1em; 
                                  border: solid 1px #c0c0f0; }
                                  
span.work_in_progress           { margin-top: 0em; margin-bottom: 2em; 
                                  color: red; font-family: 'Courier New' monospace;  
                                  white-space: nowrap; }


img.screen_shot                 { margin: 20px 0px ; border:1px solid gray; }
