<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="scheduler.xslt" type="text/xsl"?>

<!--$Id: settings.xml,v 1.2 2004/08/24 13:28:14 jz Exp $-->

<!-- Einige Einstellungen können an mehreren Stellen vorgenommen werden:
     - Konfigurationsdatei
     - factory.ini
     - Kommandozeile
     - Programm-Schnittstelle

     Diese Einstellungen werden hier beschrieben.
-->

<settings
    base_dir = "."
    author   = "$Author: jz $"
    date     = "$Date: 2004/08/24 13:28:14 $">

    <setting name           = "log_dir" 
             xml_element    = "config"
             ini_section    = "spooler"
             type           = "verzeichnis" 
             title          = "Verzeichnis der Protokolle">

        <description>
            <p>
                In dieses Verzeichnis schreibt der Scheduler seine Protokolle.
            </p>
            <p>
                <scheduler_setting name="log_dir" value="*stderr"/> lässt den Scheduler 
                die Protokollausgabe nach stderr (auf den Schirm) schreiben.
            </p>
        </description>
    </setting>


    <setting name              = "param" 
             is_command_option = "yes"
             xml_element       = "config"
             ini_section       = "spooler"
             api               = "Spooler.param"
             type              = "text" 
             title             = "Zur freien Verwendung">

        <description>
            <p>
                Zur freien Verwendung.
                Der Parameter ist in den Skripten über <code>spooler.param</code> lesbar.
            </p>
        </description>
    </setting>


    <setting name   = "config" 
             type   = "dateiname" 
             title  = "Konfigurationsdatei">

        <description>
            <p>
                Gibt die <a href="konfiguration.html">Konfigurationsdatei</a> an.
            </p>
        </description>
    </setting>
    
    
    <setting name   = "spooler_id" 
             type   = "scheduler_id">

        <description>
            <p>
                Gibt die Scheduler-Id an.
                Der Scheduler wählt aus der Konfigurationsdatei die Einträge mit dem Attribut 
                <code>spooler_id="</code><i>spooler_id</i><code>"</code>
                aus.
            </p>
        </description>
    </setting>
    

    <setting name   = "log_level" 
             type   = "log_level"
             title  = "Protokollausgaben beschränken">
        <description>
            <p>
                Legt fest, ab welcher Stufe der Scheduler Protokollzeilen ausgibt.
                Jede Protokollzeile ist auf einer der folgenden Stufen:
                <code>error</code>, <code>warn</code>, <code>info</code>, <code>debug1</code> bis <code>debug9</code> 
                (<code>debug1</code> ist dasselbe wie <code>debug</code>).
            </p>
        </description>
    </setting>


    <setting name   = "include_path" 
             type   = "verzeichnis"
             title  = "Für &lt;include&gt;">
        <description>
            <p>
                Verzeichnis für <scheduler_element name="include"/>.
            </p>
        </description>
    </setting>

    
    <setting name    = "html_dir" 
             type    = "verzeichnis"
             title   = "Verzeichnis der HTML-Dateien">
        <description>
            <p>
                In diesem Verzeichnis stehen die HTML-Dateien für den HTTP-Server im Scheduler.
            </p>
            <p>
                Wenn die Angabe fehlt, nimmt der Scheduler das Verzeichnis <code>html</code> im Verzeichnis der Konfigurationsdatei.
            </p>
        </description>
    </setting>


    <setting name    = "db_tasks_table" 
             type    = "name"
             initial = "SCHEDULER_TASKS"
             title   = "Name der Datenbanktabelle für die Tasks">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "db_history_table" 
             type    = "name"
             initial = "SCHEDULER_HISTORY"
             title   = "Name der Datenbanktabelle für die Historie">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "db_order_history_table" 
             type    = "name"
             initial = "SCHEDULER_ORDER_HISTORY"
             title   = "Name der Datenbanktabelle für die Auftragshistorie">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "db_orders_table" 
             type    = "name"
             initial = "SCHEDULER_ORDERS"
             title   = "Name der Datenbanktabelle für die Aufträge">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "db_variables_table" 
             type    = "name"
             initial = "SCHEDULER_VARIABLES"
             title   = "Name der Datenbanktabelle für die Variablen">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "history_columns" 
             type    = "name, name, ..."
             title   = "Zusätzliche Spalten in der Historie">
        <description>
            <p>
            </p>
        </description>
    </setting>

    <setting name    = "history" 
             type    = "yes|no"
             title   = "Historie schreiben?">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "history_file" 
             type    = ""
             initial = ""
             title   = "Dateiname der Historie (für datenbanklosen Betrieb)">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name   = "history_on_process" 
             type   = "yes|no|zahl"
             title  = "Nach spooler_process() Historiensatz schreiben?">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name   = "history_archive" 
             type   = "yes|no"
             title  = "Historiendateien archivieren?">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name   = "history_with_log" 
             type   = "yes|no"
             title  = "Protokoll in die Historie shcreiben?">
        <description>
            <p>
            </p>
        </description>
    </setting>

    <setting name   = "order_history" 
             type   = "yes_no"
             title  = "Aufträge in die Historie schreiben?">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name   = "order_history_with_log" 
             type   = "yes|no"
             title  = "Auftragsprotokolle in die Historie schreiben?">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "db" 
             type    = "hostware_filename"
             title   = "Hostware-Dateiname der Datenbank">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "need_db" 
             type    = "yes|no|strict"
             initial = "no"
             title   = "Ist die Datenbank notwendig?">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "max_db_errors" 
             type    = "zahl"
             initial = "5"
             title   = "Anzahl Datenbank-Fehler, bevor Scheduler aufgibt">
        <description>
            <p>
            </p>
        </description>
    </setting>

    <setting name    = "mail_on_error" 
             type    = "yes|no"
             initial = "no"
             title   = "Mit Fehler beendete Task verschickt eMail">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "mail_on_process" 
             type    = "yes|no|zahl"
             initial = "no"
             title   = "Task mit spooler_process() verschickt eMail">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "mail_on_success" 
             type    = "yes|no"
             initial = ""
             title   = "Erfolgreich gelaufende Task verschickt eMail">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "mail_queue_dir" 
             type    = "verzeichnis"
             title   = "Verzeichnis der zeitweilig nicht versendbaren eMails">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "class_path" 
             type    = "dateinamen"
             prepend = "yes"
             title   = "Java-Classpath">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "javac" 
             type    = "dateiname"
             initial = "javac"
             title   = "Dateiname des Java-Compilers">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "log_mail_subject" 
             type    = "text"
             initial = ""
             title   = "Betreff der eMails">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "log_mail_from" 
             type    = "email_address"
             initial = ""
             title   = "Absender der eMails">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "log_mail_to" 
             type    = "email_address"
             initial = ""
             title   = "To-Empfänger der eMails">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "log_mail_cc" 
             type    = "email_address"
             initial = ""
             title   = "Cc-Empfänger der eMails">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "log_mail_bcc" 
             type    = "email_address"
             initial = ""
             title   = "Bcc-Empfänger der eMails">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "smtp" 
             type    = "host_address"
             initial = ""
             title   = "Hostname oder IP-Nummer des SMTP-Servers für eMail">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "" 
             type    = ""
             initial = ""
             title   = "">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "" 
             type    = ""
             initial = ""
             title   = "">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "" 
             type    = ""
             initial = ""
             title   = "">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "" 
             type    = ""
             initial = ""
             title   = "">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "" 
             type    = ""
             initial = ""
             title   = "">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "" 
             type    = ""
             initial = ""
             title   = "">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "" 
             type    = ""
             initial = ""
             title   = "">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "" 
             type    = ""
             initial = ""
             title   = "">
        <description>
            <p>
            </p>
        </description>
    </setting>


    <setting name    = "" 
             type    = ""
             initial = ""
             title   = "">
        <description>
            <p>
            </p>
        </description>
    </setting>


    
</settings>
