<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="../scheduler.xsl" type="text/xsl"?>

<!--$Id: settings.xml 13751 2009-03-01 17:14:58Z jz $-->

<xml_element name     = "settings"
             title    = "Einstellungen für einen Job"
             category = "Konfiguration"
             base_dir = "../"
             parent_page = "../konfiguration.xml"
             author   = "$Author: jz $"
             date     = "$Date: 2009-03-01 18:14:58 +0100 (Sun, 01 Mar 2009) $">

    <xml_parent_elements>
        <xml_parent_element name="job"/>
    </xml_parent_elements>


    <xml_child_elements>
        <xml_child_element name="mail_on_error"/>
        <xml_child_element name="mail_on_warning"/>
        <xml_child_element name="mail_on_success"/>
        <xml_child_element name="mail_on_process"/>
        <xml_child_element name="mail_on_delay_after_error"/>
        <xml_child_element name="log_mail_to"/>
        <xml_child_element name="log_mail_cc"/>
        <xml_child_element name="log_mail_bcc"/>
        <xml_child_element name="log_level"/>
        <xml_child_element name="history"/>
        <xml_child_element name="history_on_process"/>
        <xml_child_element name="history_with_log"/>
    </xml_child_elements>


    <behavior_with_xml_element element="base" complete_attribute="name"/>

    <description>
    </description>


</xml_element>
