<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    version="2.4"
>
    <display-name>JobScheduler test configuration (web.xml)</display-name>

    <servlet>
        <servlet-name>Default</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
        <init-param>
            <param-name>dirAllowed</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Default</servlet-name>
        <!-- url-pattern must be "/", otherwise the servlet settings are ignored -->
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TEST</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
        <init-param>
            <param-name>resourceBase</param-name>
            <param-value>{{SCHEDULER_WORK_URL}}</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>TEST</servlet-name>
        <url-pattern>/config/*</url-pattern>
    </servlet-mapping>

    <!--servlet>
        <servlet-name>H2</servlet-name>
        <servlet-class>org.h2.server.web.WebServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>H2</servlet-name>
        <url-pattern>/h2</url-pattern>
    </servlet-mapping-->
</web-app>
