.container-fluid(ng-controller='Tasks')
  .row#TasksPage
    h2(style='margin-top: 1.5em')
      ng-pluralize(count='taskHandler.tasks.length' when='{0: "No tasks", 1: "1 task", other: "{} tasks"}')
    table#TaskTable.table.table-condensed.table-hover
      colgroup
        col.AgentTaskId
        col.TunnelId
        col.MasterAddress
        col.StartedAt
      thead
        tr
          th.AgentTaskId AgentTaskId
          th.TunnelId Tunnel ID
          th.MasterAddress Master address
          th.StartedAt Started at
      tbody.clearFont
        tr(ng-repeat='task in taskHandler.tasks')
          td.AgentTaskId {{task.id}}
          td.TunnelId {{task.tunnelId}}
          td.MasterAddress {{task.masterAddress}}
          td.StartedAt(ng-bind-html="task.startedAt | instantWithDurationToHtml : now")
