// $Id: spooler.rc 13512 2008-04-23 13:41:10Z jz $

#ifdef _DEBUG
1                       TYPELIB MOVEABLE PURE   "debug\\spooler.tlb"
#else
1                       TYPELIB MOVEABLE PURE   "release\\spooler.tlb"
#endif

#include "version.h"
#include "../kram/sosvers.rc"

//? 2  ICON "scheduler.ico"
