/*  $Id$ 

    STYLESHEET FÜR DEN SCHEDULER


    In der custom.css (im selben Verzeichnis) können Sie eigene Einstellungen vornehmen.
*/


body                    { font-family: Sans-Serif; font-size: 9pt; margin-top: 5pt; cursor: default; }
p                       { margin-top: 2ex; margin-bottom: 0; padding-left: 3pt; }
label                   { font-size: 8pt; }
/*col                   { padding-bottom: 1pt; padding-left: 3pt; padding-right: 2pt }  /* wirkt nicht in Firefox */
/*caption                 { padding-bottom: 5pt; padding-left: 3pt; padding-right: 2pt; padding-top: 2pt }*/

a:visited               { color: windowtext; }
a.silent                { text-decoration: none; }

.small                  { font-size: 8pt; }
.label                  { font-size: 8pt; white-space: nowrap }
.mono                   { font-family: Lucida Console; }

hr                      { height: 1px; font-size: 1px; border: 0px; color: gray; background-color: gray; }

/* Job-Description */
div.description         {}

th                      { font-size: 9pt; text-align: left; padding-left: 2pt; padding-right: 2pt; font-weight: normal; }
td                      { font-size: 9pt; text-align: left; vertical-align: baseline; padding-bottom: 1pt; padding-left: 3pt; padding-right: 2pt } 

th.head1, td.head1      { padding-right: 2pt; vertical-align: bottom; border-bottom: 1px solid gray; font-size: 8pt; }
th.head , td.head       { padding-right: 2pt; vertical-align: bottom; border-bottom: 1px solid gray; font-size: 8pt; border-left: 1px solid gray; }

td.after_head_space     { margin-top: 0; margin-bottom: 0pt; line-height: 4pt; }
td.right_border         { border-right: 1px solid gray; }


/* Allgemeiner Scheduler-Zustand */
.scheduler              { background-color: #F0F0F0 }
.scheduler_error        { color: #e00000; font-weight: bold }
.scheduler_warning      { color: #800000; font-weight: bold }

.error_message          { color: #e00000; font-size: 8pt; }

.file_based_error         { color: #e00000; }
.file_based_error_message { color: #e00000; font-size: 8pt; }

.job                    { background-color: #00c8ff } /*#fff000*/
.job_hover              { background-color: #00b0f5; } /*#80ecff*/
.job_error              { color: #e00000; font-weight: bold }
.job_missing            { color: gray; }
.job_not_initialized    { color: #e00000; }
.job_remove             { text-decoration: line-through; }

.job_chain_error        { color: #e00000; font-weight: bold }

.bad_files_error        { color: #e00000; font-size: 8pt; }

.task                   { background-color: #90EE90 }  /*#FFFFA0*/
.task_hover             { background-color: #80df72 }
.task_error             { color: #e00000; font-weight: bold }
                      
.order                  { background-color: #ffffe0 }  /*#f0ffff*/
                        
.job_chain              { background-color: #B0E0E6 }
.job_chain_hover        { background-color: #9fcacf }
.job_chains_gap         { line-height: 8pt;  }

.order_id_space         { color: #ff8000; }
hr.order_id_space       { color: #ff8000; background-color: #ff8000; }

.lock                   { background-color: #F0F0F0 }
.lock_free              { }
.lock_locked            { color: #c00000; }
.lock_locked:hover      { color: #e00000; }
.lock_missing           { color: gray; }
.lock_missing:hover     { color: #e00000; }

.process_class          { background-color: #F0F0F0 }

.remote_scheduler       { background-color: #ffffa0; }
.remote_scheduler_hover { background-color: #efef8f; }

.schedule               { background-color: #ffff80; }

.calendar               { background-color: #ffff80; }

.web_service            { background-color: #ffb0b0; }

a                       { text-decoration: none     ; color: inherit; background-color: inherit; }
a.no_underline          { text-decoration: none     ; color: inherit; background-color: inherit; }
a.no_underline:link     { text-decoration: none     ; color: inherit; background-color: inherit; }
a.no_underline:active   { text-decoration: none     ; color: inherit; background-color: inherit; }
a.no_underline:visited  { text-decoration: none     ; color: inherit; background-color: inherit; }
a.no_underline:hover    { text-decoration: underline; color: inherit; background-color: inherit; }

a:link                  { background-color: inherit; color: #0000a0; cursor: pointer; }
a:active                { background-color: inherit; color: #0000a0; }
a:visited               { background-color: inherit; color: #0000a0; }
a:hover                 { background-color: #e0e0FF }

.menu_click             { cursor: pointer; margin-left: 4pt; font-weight: normal; font-size: 8pt; }
.menu_click:link        { color: #0000a0; background-color: inherit; cursor: pointer; }
.menu_click:active      { color: #0000a0; background-color: inherit; }
.menu_click:visited     { color: #0000a0; background-color: inherit; }
.menu_click:hover       { background-color: #e0e0FF }

/* Für die Job-<description> */
body#job_description    { background-color: #80ecff }

.cluster                { background-color: #ffffa0 }

.requisite_missing      { color: red; }  /* text-decoration: line-through; */

/* Anklickbar */
.hover                  { text-decoration: underline }

.has_title:hover        { border-bottom: dotted 1px black;  border-top: dotted 1px black; }


/* Fürs Protokoll */
body.log                { margin-left: 0; padding-left: 0 }
pre.log                 { font-family: Lucida Console, monospace; font-size: 8.5pt; line-height: 1.1em; margin-left: 2px; padding-left: 0 }

.log_error              { color: Red; }
.log_warn               { color: tomato; }
.log_info               { color: black; }
.log_debug              { color: darkgreen; }
.log_debug2             { color: #408040; }
.log_debug3             { color: #808080; }
.log_debug4             { color: #8080FF; }
.log_debug5             { color: #8080FF; }
.log_debug6             { color: #8080FF; }
.log_debug7             { color: #8080FF; }
.log_debug8             { color: #8080FF; }
.log_debug9             { color: #a0a0a0; }

a.log                   { text-decoration: none     ; color: inherit; background-color: inherit; }
a.log:link              { background-color: inherit; color: #0000a0; cursor: pointer; }
a.log:active            { background-color: inherit; color: #0000a0; }
a.log:visited           { background-color: inherit; color: #0000a0; }
a.log:hover             { background-color: #e0e0FF }

span.invalid_character  { font-size: 5pt; }
