/* $Id: scheduler.css,v 1.8 2004/07/22 20:29:53 jz Exp $ */

body         { font-size: 10pt; }
th           { font-size: 10pt; }
td           { font-size: 10pt; }
p            { font-size: 10pt; margin-top: 2ex; margin-bottom: 0  }
/*
span         { font-size: 10pt; }
div          { font-size: 10pt; }
li           { font-size: 10pt; }
pre          { font-family: Lucida Console, monospace; font-size: 9pt; line-height: 1.2em; }*/


.small                  { font-family: Sans-Serif; font-size: 8pt }
.label                  { font-family: Sans-Serif; font-size: 8pt; white-space: nowrap }

/* 1. Spalte */
.column1                { padding-bottom: 1pt; padding-left: 3pt; padding-right: 2pt }

/* Andere Spalten */
.column                 { padding-bottom: 1pt; padding-left: 3pt; padding-right: 2pt; }


/* Allgemeiner Scheduler-Zustand */
.scheduler              { background-color: #F0F0F0 }

.job                    { font-family: Sans-Serif; font-size: 10pt; background-color: #fff000 }
.job_error              { color: darkred }

.task                   { font-family: Sans-Serif; font-size: 10pt; background-color: #FFFFA0 } /*#90EE90*/
.task_hover             { font-family: Sans-Serif; font-size: 10pt; background-color: #FFFFC0; text-decoration: underline }
                      
.order                  { font-family: Sans-Serif; font-size: 10pt; background-color: #f0ffff }  /*#E0FFE0*/
                        
.job_chain              { font-family: Sans-Serif; font-size: 10pt; background-color: #00c8ff }

/* Anklickbar */
.hover                  { text-decoration: underline }

/*.milliseconds         { font-family: Sans-Serif; font-size:  8pt }*/
/*.waiting_for_process  { font-style: italic }*/


/* Fürs Protokoll */
.log                    { font-family: Lucida Console, monospace; font-size: 9pt; line-height: 1.2em; }
