/* $Id: scheduler.css,v 1.10 2004/07/23 17:53:39 jz Exp $ */

body         { font-size: 10pt; }
th           { font-size: 10pt; }
td           { font-size: 10pt; }
p            { font-size: 10pt; margin-top: 2ex; margin-bottom: 0  }
/*
span         { font-size: 10pt; }
div          { font-size: 10pt; }
li           { font-size: 10pt; }
pre          { font-family: Lucida Console, monospace; font-size: 9pt; line-height: 1.2em; }*/


.small                  { font-family: Sans-Serif; font-size: 8pt }
.label                  { font-family: Sans-Serif; font-size: 8pt; white-space: nowrap }

/* 1. Spalte */
.column1                { padding-bottom: 1pt; padding-left: 3pt; padding-right: 2pt }

/* Andere Spalten */
.column                 { padding-bottom: 1pt; padding-left: 3pt; padding-right: 2pt; }


/* Allgemeiner Scheduler-Zustand */
.scheduler              { background-color: #F0F0F0 }

.job                    { font-family: Sans-Serif; font-size: 10pt; background-color: #00c8ff } /*#fff000*/
.job_error              { color: darkred }

.task                   { font-family: Sans-Serif; font-size: 10pt; background-color: #90EE90 }  /*#FFFFA0*/
.task_hover             { font-family: Sans-Serif; font-size: 10pt; background-color: #90EE90; text-decoration: underline }
                      
.order                  { font-family: Sans-Serif; font-size: 10pt; background-color: #ffffe0 }  /*#f0ffff*/
                        
.job_chain              { font-family: Sans-Serif; font-size: 10pt; background-color: powderblue }

/* Anklickbar */
.hover                  { text-decoration: underline }

/*.milliseconds         { font-family: Sans-Serif; font-size:  8pt }*/
/*.waiting_for_process  { font-style: italic }*/


/* Fürs Protokoll */
.log                    { font-family: Lucida Console, monospace; font-size: 9pt; line-height: 1.2em; }
