<?xml version="1.0" encoding="utf-8"?>
<!-- Example logback-test.xml -->
<configuration>
    <appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="stderr"/>
    </root>
</configuration>
