<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="../scheduler.xsl" type="text/xsl"?>

<!--$Id$-->

<xml_element name     = "config"
             title    = "Konfiguration"
             category = "Konfiguration"
             base_dir = "../"
             parent_page = "../konfiguration.xml"
             author   = "$Author$"
             date     = "$Date$">

    <xml_parent_elements>
        <xml_parent_element name="spooler"/>
    </xml_parent_elements>


    <xml_attributes>

        <xml_attribute name="central_configuration_directory" type="path" initial="remote">
            <description>
                <p>
                    Voreingestellt ist das Verzeichnis <code>remote</code>
                    im Verzeichnis der Konfigurationsdatei,
                    siehe <scheduler_option name="config"/>.
                </p>
                <p>
                    Das Verzeichnis ist für den Supervisor-Betrieb,
                    bei dem andere Scheduler sich anmelden mit
                    <scheduler_element name="config" attribute="supervisor"/>.
                    Das Verzeichnis kann für jeden Scheduler ein Unterverzeichnis mit Konfigurationsdateien enthalten,
                    die der Supervisor zum Scheduler laufend repliziert.
                </p>
                <p>
                    Scheduler in einem Cluster 
                    (<scheduler_option name="exclusive"/> oder <scheduler_option name="distributed-orders"/>)
                    erhalten ihre Konfiguration aus einem Verzeichnis mit dem Namen der Scheduler-ID
                    (<scheduler_option name="id"/>).
                </p>
                <p>
                    Scheduler, die nicht zu einem Cluster gehören, erhalten Ihre Konfiguration aus einem Verzeichnis,
                    dessen Name aus Rechnername und TCP-Portnummer (<scheduler_element name="config" attribute="tcp_port"/>)
                    gebildet wird: <code><i>hostname</i>#<i>tcpport</i></code>.
                </p>
                <p>
                    Für beide Fälle gilt, dass zusätzlich Dateien aus dem Verzeichnis <code>_all</code> übertragen werden.
                    Diese Dateien sind nachrangig.
                </p>
                <p>
                    Es ist möglich, für einen Scheduler kein Verzeichnis anzugeben. 
                    Dann wird nur die Konfiguration aus dem Verzeichnis <code>_all</code>, falls vorhanden, übertragen.
                </p>
            </description>

            <messages>
                <!--message level="error" code="SCHEDULER-458"/-->
                <message level="warn" code="SCHEDULER-454"/>
                <message level="info" code="SCHEDULER-455"/>
                <message level="warn" code="SCHEDULER-457"/>
            </messages>
        </xml_attribute>


        <xml_attribute name="configuration_directory" type="path" initial="live" setting="configuration_directory" title="Lokales Konfigurationsverzeichnis">
            <description>
                <scheduler_keyword keyword="Lokales Konfigurationsverzeichnis"/>
                <scheduler_keyword keyword="Konfigurationsverzeichnis, lokales"/>
                <p>
                    Voreingestellt ist das Verzeichnis <code>live</code> 
                    im Verzeichnis der Konfigurationsdatei,
                    siehe <scheduler_option name="config"/>.
                </p>
                <p>
                    Diesem Verzeichnis entnimmt der Scheduler die
                    Definitionen der Jobs usw., 
                    siehe <scheduler_a href="../dynamic_configuration.xml" quote="yes"/>.
                </p>
            </description>
        </xml_attribute>


        <xml_attribute name="configuration_add_event" type="job_path" title="Job für neue Konfigurationsdatei">
            <description>
                <p>
                    Der angegebene Job wird gestartet,
                    wenn der Scheduler eine <i>neue</i> Datei aus dem Konfigurationsverzeichnis geladen hat.
                </p>

                <p>
                    Der Job wird gestartet, so wie es seine <scheduler_element name="run_time"/> zulässt.
                    Er sollte in der Scheduler-Konfigurationsdatei definiert sein, 
                    damit er bekannt ist, wenn der Scheduler das Konfigurationsverzeichnis liest.
                </p>

                <p>
                    Die gestartete Task hat drei Parameter 
                    (erreichbar über <scheduler_method class="Task" object="spooler_task" property="params"/>):
                </p>

                <div class="indent">
                    <table cellspacing="0" cellpadding="0">
                        <tr>
                            <td style="padding-right: 2ex"><code>scheduler_live_event</code></td>
                            <td>
                                <code>"add"</code> (<code>"modify"</code> bzw. <code>"delete"</code> für die anderen Attribute)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 2ex"><code>scheduler_live_filepath</code></td>
                            <td>Der Pfad der Datei</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 2ex"><code>scheduler_live_filebase</code></td>
                            <td>Der Name der Datei</td>
                        </tr>
                    </table>
                </div>
                <p>
                    Diese Task-Parameter stehen auch bereit als Umgebungsvariablen
                    <code>SCHEDULER_LIVE_EVENT</code>,
                    <code>SCHEDULER_LIVE_FILEPATH</code> und
                    <code>SCHEDULER_LIVE_FILEBASE</code>.
                </p>
            </description>
        </xml_attribute>


        <xml_attribute name="configuration_modify_event" type="job_path" title="Job für geänderte Konfigurationsdatei">
            <description>
                <p>
                    Der angegebene Job wird gestartet,
                    wenn der Scheduler eine <i>geänderte</i> Datei aus dem Konfigurationsverzeichnis geladen hat.
                </p>
                <p>
                    Der Job wird gestartet, so wie es seine <scheduler_element name="run_time"/> zulässt.
                    Er sollte in der Scheduler-Konfigurationsdatei definiert sein,
                    damit er bekannt ist, wenn der Scheduler das Konfigurationsverzeichnis liest.
                </p>
                <p>
                    Parameter und Umgebungsvariablen sind gesetzt wie bei
                    <scheduler_element name="config" attribute="configuration_add_event"/>.
                </p>
            </description>
        </xml_attribute>


        <xml_attribute name="configuration_delete_event" type="job_path" title="Job für gelöschte Konfigurationsdatei">
            <description>
                <p>
                    Der angegebene Job wird gestartet,
                    wenn aus dem Konfigurationsverzeichnis eine im Scheduler geladene Datei entfernt worden ist.
                </p>
                <p>
                    Der Job wird gestartet, so wie es seine <scheduler_element name="run_time"/> zulässt.
                    Er sollte in der Scheduler-Konfigurationsdatei definiert sein,
                    damit er bekannt ist, wenn der Scheduler das Konfigurationsverzeichnis liest.
                </p>
                <p>
                    Parameter und Umgebungsvariablen sind gesetzt wie bei
                    <scheduler_element name="config" attribute="configuration_add_event"/>.
                </p>
            </description>
        </xml_attribute>


        <xml_attribute name="supervisor" type="host:port">
            <description>
                <p>
                    Der Supervisor, bei dem sich dieser Scheduler an- und abmelden soll.
                    Das geschieht asynchron und Fehler beeinträchtigen nicht den Betrieb.
                </p>
                <p>
                    Wenn der Haupt-Scheduler unter Windows läuft,
                    sollten nicht mehr als vier Scheduler sich bei ihn anmelden.
                </p>
                <p>
                    Der Supervisor kann für den Scheduler die Konfiguration bestimmen,
                    s. <scheduler_element name="config" attribute="central_configuration_directory"/>.
                    Die vorhandene Konfiguration
                    (<scheduler_element name="config" attribute="configuration_directory"/>)
                    wird dabei überschrieben.
                </p>
            </description>
        </xml_attribute>


        <xml_attribute name="spooler_id" type="spooler_id">
            <!-- Diese Beschreibung wird auch von anderen Elementen verwendet. Also allgemein halten! -->
            <description>
                Das Element ist nur wirksam, wenn dieses Attribut gleich dem
                Parameter <code>-id=</code> vom Scheduler-Start ist,
                oder wenn beim Scheduler-Start der Parameter <code>-id=</code> nicht angegeben worden ist.
            </description>
        </xml_attribute>


        <xml_attribute setting="port" title="Portnummer für TCP und UDP">
            <description>
                <p>
                    Siehe auch <scheduler_element name="config" attribute="tcp_port"/>.
                    und <scheduler_element name="config" attribute="udp_port"/>.
                </p>
            </description>
            <example>
                <pre>&lt;config port="4444"></pre>
            </example>
        </xml_attribute>


        <xml_attribute setting="tcp_port">
            <description>
                <p>
                    Siehe auch <scheduler_element name="config" attribute="port"/>.
                </p>
            </description>
            <example>
                <pre>&lt;config tcp_port="4444"></pre>
            </example>
        </xml_attribute>


        <xml_attribute setting="udp_port" >
            <description>
                <p>
                    Siehe auch <scheduler_element name="config" attribute="port"/>.
                </p>
            </description>
            <example>
                <pre>&lt;config udp_port="4444"></pre>
            </example>
        </xml_attribute>


        <xml_attribute name="param" type="text" command_line_option="param" title="Zur freien Verwendung">
            <description>
                Setzt spooler.param (Objekt spooler, Eigenschaft param). Zur freien Verwendung in den Skripten.
            </description>
        </xml_attribute>

        <xml_attribute name="log_dir" type="verzeichnis" option="log-dir" title="Verzeichnis der Protokolle">
            <description>
                <p>
                    Gibt das Verzeichnis an, an das der Scheduler die Protokoll schreibt.
                </p>
                <p>
                    <code>log_dir="*stderr"</code> lässt den Scheduler das Hauptprotokoll nach stderr schreiben.
                </p>
            </description>
        </xml_attribute>

        <xml_attribute setting="include_path" subst_env="yes"/>

        <!-- Veraltet: xml_attribute name="priority_max" type="zahl" initial="1000">
            <description>
                <p>
                    Höchste Priorität, die eine Task haben kann.
                </p>
            </description>

            <example>
                <pre>&lt;config priority_max="10"></pre>
            </example>
        </xml_attribute-->

        <xml_attribute setting="mail_xslt_stylesheet"/>

        <xml_attribute setting="java_class_path"/>
        <xml_attribute setting="java_options"/>

        <xml_attribute setting="ip_address"/>

    </xml_attributes>


    <xml_child_elements>
        <xml_child_element name="base" multiple="yes" title="Basiskonfiguration">
            <description>
                Eine Basiskonfigurationsdatei kann hier angegeben werden, die der Scheduler zuerst auswertet.
                Die Einstellungen darin bilden die Voreinstellungen für die Konfigurationsdatei, die das Element
                <code>&lt;base></code> enthält.
            </description>
        </xml_child_element>

        <xml_child_element name="params" title="Scheduler-weite Parameter">
            <description>
                Die eingestellten Parameter können mit <scheduler_method class="Spooler" property="variables"/> abgerufen werden.
            </description>
        </xml_child_element>

        <xml_child_element name="security" title="Stellt den Zugriffsschutz ein">
        </xml_child_element>

        <xml_child_element name="cluster"/>

        <xml_child_element name="process_classes" title="Jobs in eigenen Prozessen">
            <description>
                <p>
                    Jede Prozessklasse stellt eine Anzahl Prozesse zum Betrieb der Jobs bereit.
                </p>
                <p>
                    Dieses Element sollte angegeben werden, denn sonst laufen die Jobs im Prozess des Schedulers, was nur zum Debuggen
                    empfehlenswert ist.
                </p>
            </description>
            <example>
                <pre>&lt;process_classes/></pre>
            </example>
        </xml_child_element>

        <xml_child_element name="script" title="Scheduler-Skript">
            <description>
                <p>
                    Wie <scheduler_element name="scheduler_script"/><scheduler_element name="script"/>, siehe unten.
                </p>
            </description>            
        </xml_child_element>
        
        <xml_child_element name="scheduler_script" title="Scheduler-Skript">
            <description>
                <p>
                    Das hierin enthaltene Skript führt der Scheduler beim Start, vor jedem Job aus.
                    Wenn die Methode <scheduler_method class="Job_impl" method="spooler_init"/> implementiert ist,
                    ruft der Scheduler sie auf.
                    Es eignet sich zum Setzen von Scheduler-Variablen.
                </p>
                <p>
                    Bei einem Fehler bricht der Scheduler ab.
                </p>
                <p>
                    Das Skript wird erst geschlossen, wenn der Scheduler endet.
                </p>
            </description>
            <example>
                <pre>&lt;scheduler_script>
    &lt;script language="javascript">&lt;![CDATA[

        spooler.variables( "database_name" ) = "db7";

    ]]&gt;&lt;/script>
&lt;/scheduler_script></pre>
            </example>
        </xml_child_element>

        <xml_child_element name="http_server"/>

        <xml_child_element name="holidays" title="Feiertage">
            <description>
                Grundsätzliche Einstellung der Feiertage (an denen Jobs nicht laufen sollen).
            </description>
        </xml_child_element>

        <xml_child_element name="jobs">
            <description>
                Enthält die Jobs als Folge von <code>&lt;job></code>-Elementen.
            </description>

            <example>
                <pre>&lt;script language="javascript">&lt;![CDATA[

    spooler.variables( "database_name" ) = "db7";

]]&gt;&lt;/script></pre>
            </example>
        </xml_child_element>

        <xml_child_element name="job_chains"/>

        <xml_child_element name="commands">
            <description>
                <p>
                    Die Kommandos werden beim Start des Schedulers vor dem Scheduler-Skript ausgeführt.
                    Ein Fehler führt zum Abbruch des Schedulers.
                </p>
            </description>
        </xml_child_element>

    </xml_child_elements>

    <behavior_with_xml_element element="base" complete_attribute="spooler_id"/>

    <description>
        <p>
            <code>&lt;config></code> enthält die Konfiguration des Schedulers, vor allem die Jobs.
            Das Element kann wiederholt werden, wenn das Attribut <code>spooler_id</code> wechselt.
            Wenn bei Scheduler-Start der Parameter <code>-id=</code>
            nicht angegeben worden ist, ist das erste <code>&lt;config></code>, sonst das mit gleichem Wert im
            Attribut <code>spooler_id</code> wirksam.
        </p>
    </description>

</xml_element>
