// $Id$

#ifdef _DEBUG
1                       TYPELIB MOVEABLE PURE   "debug\\spooler.tlb"
#else
1                       TYPELIB MOVEABLE PURE   "release\\spooler.tlb"
#endif

#include "version.h"
#include "../kram/sosvers.rc"

//? 2  ICON "scheduler.ico"
